<div id="charges" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
  
    <!-- CENTER -->
    <div class="center">
  
        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
  
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Charges Management
                </span>
            </div>    
            <!-- / APP TITLE -->
  
            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for an Charges">
                </div>
            </div>
            <!-- / SEARCH -->
  
            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'/apps/e-commerce/products/new'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <span>Add New Charges</span>
            </button>
            <!-- / ADD BUTTON -->
  
        </div>
        <!-- / HEADER -->
  
        <!-- CONTENT CARD -->
        <div class="content-card">
  
            <mat-table class="assets-table"
                       #table [dataSource]="charges"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>
  
                <!-- ID Column -->
                <ng-container matColumnDef="DeviceId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.DeviceId}}</p>
                    </mat-cell>
                </ng-container>
  
                  <!-- Vendor Column -->
                  <ng-container matColumnDef="Vendor">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</mat-header-cell>
                      <mat-cell *matCellDef="let product">
                          <p class="text-truncate">{{product.Vendor}}</p>
                      </mat-cell>
                  </ng-container>
  
                    <!-- Asset type Column -->
                    <ng-container matColumnDef="AssetType">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Asset Type</mat-header-cell>
                      <mat-cell *matCellDef="let product">
                          <p class="text-truncate">{{product.AssetType}}</p>
                      </mat-cell>
                  </ng-container>
  
  
                    <!-- Make Column -->
                    <ng-container matColumnDef="Make">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Make</mat-header-cell>
                      <mat-cell *matCellDef="let product">
                          <p class="text-truncate">{{product.Make}}</p>
                      </mat-cell>
                  </ng-container>
  
                    <!-- Make Column -->
                    <ng-container matColumnDef="Model">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Model</mat-header-cell>
                      <mat-cell *matCellDef="let product">
                          <p class="text-truncate">{{product.Model}}</p>
                      </mat-cell>
                  </ng-container>
               
                     <!-- Active Column -->
                <ng-container matColumnDef="Status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Status</mat-header-cell>
                  <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                      <mat-icon *ngIf="product.Status" class="active-icon green-600 s-16">check</mat-icon>
                      <mat-icon *ngIf="!product.Status" class="active-icon red-500 s-16">close</mat-icon>
                  </mat-cell>
              </ng-container>
  
                 <!-- Image Column -->
                 <ng-container matColumnDef="Image">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
                  <mat-cell *matCellDef="let product">
                      <p class="text-truncate">{{product.Image}}</p>
                  </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="Action">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                  <mat-cell *matCellDef="let product">
                      <p class="text-truncate"> <button mat-button class="blue">Edit</button></p>
                  </mat-cell>
              </ng-container>
  
            
  
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
  
                <mat-row *matRowDef="let product; columns: displayedColumns;"
                         class="product"
                         matRipple
                         [routerLink]="'/apps/e-commerce/products/'+product.id+'/'+product.handle">
                </mat-row>
  
            </mat-table>
  
            <!-- <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator> -->
  
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </div>
  